{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Register{% endblock %}

{% block body %}

    <div class="bodyCreationUser">
        <div class="creationUser">
            <div class="InfoCreaUser">
                {{ form_start(registrationForm) }}
                <h3 class="titreH3User">Enregistrement manuel :</h3>
                <div><label class="labelCreaUser" for="pseudo">Pseudo de l'élève : </label><div>
                <div class="widgetRegister">{{ form_widget(registrationForm.pseudo) }}</div>
                {{ form_errors(registrationForm.pseudo) }}

                <div><label class="labelCreaUser" for="pseudo">Nom de l'élève : </label><div>
                <div class="widgetRegister">{{ form_widget(registrationForm.nom) }}</div>
                {{ form_errors(registrationForm.nom) }}

                <div><label class="labelCreaUser" for="pseudo">Prénom de l'élève : </label><div>
                <div class="widgetRegister">{{ form_widget(registrationForm.prenom) }}</div>
                {{ form_errors(registrationForm.prenom) }}

                <div><label class="labelCreaUser" for="pseudo">Numéro de téléphone de l'élève : </label><div>
                <div class="widgetRegister">{{ form_widget(registrationForm.telephone) }}</div>
                {{ form_errors(registrationForm.telephone) }}

                <div><label class="labelCreaUser" for="pseudo">Email de l'élève : </label><div>
                <div class="widgetRegister">{{ form_widget(registrationForm.email) }}</div>
                {{ form_errors(registrationForm.email) }}

                <div><label class="labelCreaUser" for="pseudo">Site d'affectation : </label><div>
                <div class="widgetRegister">{{ form_widget(registrationForm.site) }}</div>
                {{ form_errors(registrationForm.site) }}

                <div><label class="labelCreaUser" for="pseudo">Mot de passe : </label><div>
                <div class="widgetRegister">{{ form_widget(registrationForm.plainPassword) }}</div>
                {{ form_errors(registrationForm.plainPassword) }}

            </div>

            <div class="btn_Enregistrer_User">
                <div>
                    <button class="btn_profil" type="submit" style="border-radius: 5px">Enregistrer</button>
                </div>
            </div>
                {{ form_end(registrationForm) }}
            </div>
            <hr>

            <form action="{{ path('app_registration_csv') }}" method="post" enctype="multipart/form-data" class="ajout-csv">

                {{ form_start(CSVForm) }}

                <h3>{{ form_label(CSVForm.fichierCSV) }}</h3>
                <div class="widgetRegister">{{ form_widget(CSVForm.fichierCSV) }}</div>
                {{ form_errors(CSVForm.fichierCSV) }}
                <div class="btn_Enregistrer_User">{{ form_widget(CSVForm.Enregistrer)}}</div>

                {{ form_end(CSVForm) }}
            </form>
        </div>
    </div>


{% endblock %}
