{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="bodyCreationUser">
        <div class="cardSortie">
            <h3 style="margin-left: 10px">Enregistrement manuel :</h3>
            <div class="div1">

                {{ form_start(registrationForm) }}
                <div>
                    <label for="pseudo">Pseudo de l'élève :</label>
                    <div>
                        {{ form_errors(registrationForm.pseudo) }}
                        {{ form_widget(registrationForm.pseudo) }}
                    </div>
                </div>
                <br>

                <div>
                    <label for="nom">Nom de l'élève :</label>
                    <div>
                        {{ form_errors(registrationForm.nom) }}
                        {{ form_widget(registrationForm.nom) }}
                    </div>
                </div>
                <br>

                <div>
                    <label for="prenom">Prénom de l'élève :</label>
                    <div>
                        {{ form_errors(registrationForm.prenom) }}
                        {{ form_widget(registrationForm.prenom) }}
                    </div>
                </div>
                <br>

                <div>
                    <label for="tel">Numéro de téléphone de l'élève :</label>
                    <div>
                        {{ form_errors(registrationForm.telephone) }}
                        {{ form_widget(registrationForm.telephone) }}
                    </div>
                </div>
                <br>

                <div>
                    <label for="email">Email de l'élève :</label>
                    <div>
                        {{ form_errors(registrationForm.email) }}
                        {{ form_widget(registrationForm.email) }}
                    </div>
                </div>
                <br>

                <div>
                    <label for="site">Site d'affectation :</label>
                    <div>
                        {{ form_errors(registrationForm.site) }}
                        {{ form_widget(registrationForm.site) }}
                    </div>

                </div>
                <br>

                <div>
                    <label for="nom">Mot de passe provisoire :</label>
                    <div>
                        {{ form_errors(registrationForm.plainPassword) }}
                        {{ form_widget(registrationForm.plainPassword) }}
                    </div>
                </div>
                <br>
                <div class="div2">
                    <div>
                        <button class="btnCreaUser" type="submit" style="border-radius: 5px">Enregistrer</button>
                    </div>
                </div>


                {{ form_end(registrationForm) }}
            </div>
            <hr>
            <br>
            <form action="{{ path('app_registration_csv') }}" method="post" enctype="multipart/form-data" class="ajout-csv">
                {{ form_start(CSVForm) }}

                <div>
                    {{ form_label(CSVForm.fichierCSV) }}
                    <div>
                        <br>
                        {{ form_errors(CSVForm.fichierCSV) }}
                        {{ form_widget(CSVForm.fichierCSV) }}
                    </div>
                </div>
                <div>{{ form_widget(CSVForm.Enregistrer)}}</div>
                {{ form_end(CSVForm) }}
            </form>
        </div>
    </div>


{% endblock %}
