{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home {% endblock %}

{% block body %}

{#    <div>#}
{#        <h2>Filtrer les sorties :</h2>#}
{#        <label for="site_select">Site : </label>#}

{#        <select name="site" id="site_select">#}
{#            {% for list in sortie %}#}
{#                <option value="{{ list.site.nom }}"><a href="#"></a>{{ list.site.nom }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#        <a href="{{ path('sortie_triSite') }}">#}
{#            <button type="submit">Rechercher</button>#}
{#        </a>#}

{#    </div>#}


    <h1 class="titreListeCard">Listes des sorties</h1>
    <section class="ListeCards">
        {% for s in sorties %}
            <div class="cards">
                <div class="card-image">
                    <img src="{{ asset('img/bowling.jpg') }}" width="" alt="Image en cours">
                </div>

                <div class="card-body">
                    <div class="card-title">
                        <h2><a class="detailSortie" href="{{ path('sortie_details', {'id': s.id}) }}">{{ s.nom }}</a></h2>
                    </div>
                    <div class="card-description">
                        <h4>Description de la sortie :</h4>
                        {{ s.infosSortie }}

                        <h4>Date de la sortie :</h4>
                        <p>{{ s.dateHeureDebut | date('d/m/y') }}</p>

                        <h4>Clôture :</h4>
                        <p>{{ s.dateLimiteInscription | date('d/m/y') }}</p>

                        <h4>Inscrits/places :</h4>
                        <p>{{ s.users.count }} / {{ s.nbInscriptionsMax }}</p>

                        <h4>Organisateur : </h4>
                        <p>{{ s.organisateur.pseudo }}</p>

                        <h4>Etat :</h4>
                        <p>{{ s.etat.libelle }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}