{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home {% endblock %}

{% block body %}

    <div>
        <h2>Filtrer les sorties :</h2>

        {{ form_start(sites) }}

        <div>
            {{ form_label(sites.Sites) }}
            <div>
                {{ form_errors(sites.Sites) }}
                {{ form_widget(sites.Sites) }}
            </div>
        </div>

        <div>
            {{ form_label(sites.textRecherche) }}
            <div>
                {{ form_errors(sites.textRecherche) }}
                {{ form_widget(sites.textRecherche) }}
            </div>
        </div>

        <div>
            {{ form_label(sites.firstDate) }}
            <div>
                {{ form_errors(sites.firstDate) }}
                {{ form_widget(sites.firstDate) }}
                {{ form_errors(sites.secondeDate) }}
                {{ form_widget(sites.secondeDate) }}
            </div>
        </div>
        <div>
            {{ form_label(sites.organisateur) }}
            <div>
                {{ form_errors(sites.organisateur) }}
                {{ form_widget(sites.organisateur) }}
            </div>
        </div>
        <div>
            {{ form_label(sites.inscrit) }}
            <div>
                {{ form_errors(sites.inscrit) }}
                {{ form_widget(sites.inscrit) }}
            </div>
        </div>
        <div>
            {{ form_label(sites.nonInscrit) }}
            <div>
                {{ form_errors(sites.nonInscrit) }}
                {{ form_widget(sites.nonInscrit) }}
            </div>
        </div>
        <div>
            {{ form_label(sites.oldSortie) }}
            <div>
                {{ form_errors(sites.oldSortie) }}
                {{ form_widget(sites.oldSortie) }}
            </div>
        </div>


        <input type="submit" value="submit">
        {{ form_end(sites) }}

    </div>




    <h1 class="titreListeCard">Listes des sorties</h1>
    <section class="ListeCards">
        {% for s in sorties %}
            <div class="cards">
                <div class="card-image">
                    <img src="{{ asset('img/bowling.jpg') }}" width="" alt="Image en cours">
                </div>

                <div class="card-body">
                    <div class="card-title">
                        <h2><a class="detailSortie" href="{{ path('sortie_details', {'id': s.id}) }}">{{ s.nom }}</a>
                        </h2>
                    </div>
                    <div class="card-description">
                        {% if s.etat.id==6 %}
                            <h4>Motif d'annulation : </h4>
                        {% else %}
                            <h4>Description de la sortie :</h4>
                        {% endif %}

                        {{ s.infosSortie }}

                        <h4>Date de la sortie :</h4>
                        <p>{{ s.dateHeureDebut | date('d/m/y') }}</p>

                        <h4>Clôture :</h4>
                        <p>{{ s.dateLimiteInscription | date('d/m/y') }}</p>

                        <h4>Inscrits/places :</h4>
                        {% if s.users.count==s.nbInscriptionsMax %}
                            <p>COMPLET</p>
                        {% else %}
                            <p>{{ s.users.count }} / {{ s.nbInscriptionsMax }}</p>
                        {% endif %}


                        <h4>Organisateur : </h4>
                        <p>{{ s.organisateur.pseudo }}</p>

                        <h4>Etat :</h4>
                        <p>{{ s.etat.libelle }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}