{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Annuler ma sortie{% endblock %}

{% block body %}
    <script src="{{ asset('js/annulerSortie.js') }}" defer></script>
    <h1>Annuler ma sortie</h1>

    <div>
        <label for="nomSortie">Nom de la sortie : </label>{{ sortie.nom }}
    </div>

    <div>
        <label for="dateSortie">Date de la sortie : </label>{{ sortie.dateHeureDebut| date ('d/m/Y') }}
    </div>

    <div>
        <label for="lieuSortie">Lieu de la sortie : </label>{{ sortie.lieu.nom }}, {{ sortie.lieu.rue }}
        , {{ sortie.lieu.ville.codepostal }} {{ sortie.lieu.ville.nom }}
    </div>

    <div>
        {{ form_start(sortieAnnuleeForm) }}
        {{ form_widget(sortieAnnuleeForm) }}

        <form action="{{ path('sortie_annuler',{'id':sortie.id}) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('annuler'~sortie.id) }}">
            <button onclick="annuler()">Annuler Sortie</button>
        </form>
        {{ form_end(sortieAnnuleeForm) }}


    </div>




{% endblock %}


