{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Création d'une sortie{% endblock %}

{% block body %}
    <fieldset id="fieldset-creation-sortie">
        <legend>Ma Sortie</legend>
        {{ form_start(sortieForm) }}

        <div>
            {{ form_label(sortieForm.nom) }}
            <div>
                {{ form_errors(sortieForm.nom) }}
                {{ form_widget(sortieForm.nom) }}
            </div>
        </div>
        <div>
            {{ form_label(sortieForm.dateHeureDebut) }}
            <div>
                {{ form_errors(sortieForm.dateHeureDebut) }}
                {{ form_widget(sortieForm.dateHeureDebut) }}
            </div>
        </div>
        <div>
            {{ form_label(sortieForm.duree) }}
            <div>
                {{ form_errors(sortieForm.duree) }}
                {{ form_widget(sortieForm.duree) }}
            </div>
        </div>
        <div>
            {{ form_label(sortieForm.dateLimiteInscription) }}
            <div>
                {{ form_errors(sortieForm.dateLimiteInscription) }}
                {{ form_widget(sortieForm.dateLimiteInscription) }}
            </div>
        </div>
        <div>
            {{ form_label(sortieForm.nbInscriptionsMax) }}
            <div>
                {{ form_errors(sortieForm.nbInscriptionsMax) }}
                {{ form_widget(sortieForm.nbInscriptionsMax) }}
            </div>
        </div>
        <div>
            {{ form_label(sortieForm.infosSortie) }}
            <div>
                {{ form_errors(sortieForm.infosSortie) }}
                {{ form_widget(sortieForm.infosSortie) }}
            </div>
        </div>
        <div>
            {{ form_label(sortieForm.lieu) }}
            <div>
                {{ form_widget(sortieForm.lieu) }}
                {{ form_errors(sortieForm.lieu) }}
            </div>

            {#Affichage dynamique de l'adresse des lieux#}
            <article></article>

        </div>
        <div>
            {{ form_label(sortieForm.inscrire) }}
            {{ form_errors(sortieForm.inscrire) }}
            {{ form_widget(sortieForm.inscrire) }}
        </div>
        <div>
            {{ form_label(sortieForm.cree) }}
            {{ form_widget(sortieForm.cree) }}
        </div>
        <div>
            {{ form_label(sortieForm.publier) }}
            {{ form_widget(sortieForm.publier) }}
        </div>

        {{ form_end(sortieForm) }}
        <button onclick="rtn()">Retour</button>
        <script>
            function rtn() {
                window.history.back();
            }
        </script>



        {#affichage dynamique des adresses de lieux#}
        <script>
            const select = document.querySelector("#creation_sortie_lieu");
            select.addEventListener('change', (event) => {
                let id = `${event.target.value}` ;
                let requestURL ='http://localhost/Sortir/public/lieu/'+id;
                let request = new XMLHttpRequest();

                request.open('GET', requestURL);
                request.responseType ='json';
                request.send();

                request.onload = function(){
                    let ville = request.response;
                    remplissageDiv(ville);
                }
            })

            function remplissageDiv(jsonObj){

                let article = document.querySelector('article');
                article.innerHTML='';
                let ville = document.createElement('h5');
                let rue = document.createElement('p');
                let codePostal = document.createElement('p');
                let latitude = document.createElement('p');
                let longitude = document.createElement('p');

                ville.textContent = jsonObj['ville'];
                rue.textContent = jsonObj['Rue'];
                codePostal.textContent = jsonObj['code'];
                latitude.textContent = jsonObj['latitude'];
                longitude.textContent = jsonObj['longitude'];

                article.appendChild(ville);
                article.appendChild(rue);
                article.appendChild(codePostal);
                article.appendChild(latitude);
                article.appendChild(longitude);
            }
        </script>


    </fieldset>
{% endblock %}



