{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Création d'une sortie{% endblock %}

{% block body %}
    <script src="{{ asset('js/creationSortie.js') }}" defer></script>

    <div class="creaSortie">
        <div class="InfoGlobalSortie">
            <div class="InfoSortie">
                {{ form_start(sortieForm) }}
                <h3 id="sortie" >Quelle est votre sortie ?</h3>

                <div class="labelSortie">{{ form_label(sortieForm.nom)}} :</div>
                <div class="widgetSortie">{{ form_widget(sortieForm.nom) }}</div>
                {{ form_errors(sortieForm.nom) }}

                <div class="labelSortie">{{ form_label(sortieForm.dateHeureDebut)}} :</div>
                <div class="widgetUser">{{ form_widget(sortieForm.dateHeureDebut) }}</div>
                {{ form_errors(sortieForm.dateHeureDebut) }}

                <div class="labelSortie">{{ form_label(sortieForm.duree)}} :</div>
                <div class="widgetUser">{{ form_widget(sortieForm.duree) }}</div>
                {{ form_errors(sortieForm.duree) }}

                <div class="labelSortie">{{ form_label(sortieForm.dateLimiteInscription)}} :</div>
                <div class="widgetUser">{{ form_widget(sortieForm.dateLimiteInscription) }}</div>
                {{ form_errors(sortieForm.dateLimiteInscription) }}

                <div class="labelSortie">{{ form_label(sortieForm.nbInscriptionsMax)}} :</div>
                <div class="widgetUser">{{ form_widget(sortieForm.nbInscriptionsMax) }}</div>
                {{ form_errors(sortieForm.nbInscriptionsMax) }}

                <div class="labelSortie">{{ form_label(sortieForm.infosSortie)}} :</div>
                <div class="widgetUser">{{ form_widget(sortieForm.infosSortie) }}</div>
                {{ form_errors(sortieForm.infosSortie) }}

                <h4 id="ou">Où ?</h4>
                <div class="labelLieu">{{ form_label(sortieForm.lieu)}} :</div>
                <div class="widgetLieu">{{ form_widget(sortieForm.lieu) }}</div>
                {{ form_errors(sortieForm.lieu) }}
                    <br>
                    <div>Adresse : </div>
                    <br>
                {# Affichage dynamique de l'adresse des lieux #}
                <article class="articleLieu">
                    <script>
                        {# affichage dynamique des adresses de lieux #}
                    </script>
                </article>

                <h4 id="participation" >Souhaitez vous participer ?</h4>
                <div class="labelSortieCheckbox">{{ form_label(sortieForm.inscrire)}} : {{ form_widget(sortieForm.inscrire)}}</div>
                {{ form_errors(sortieForm.inscrire) }}

                <div class="btn_sortie">
                    <div class="btn_publier_sortie">
                        <div class="labelSortie">{{ form_label(sortieForm.publier)}}</div>
                        <div class="widgetUser">{{ form_widget(sortieForm.publier)}}</div>
                    </div>
                    <div class="btn_save_sortie">
                        <div class="labelSortie">{{ form_label(sortieForm.cree)}}</div>
                        <div class="widgetUser">{{ form_widget(sortieForm.cree)}}</div>
                    </div>

                </div>

                {{ form_end(sortieForm) }}
                <div class="btn_retour_crea">
                    <a href="{{ path('main_home') }}">
                        <button class="btn_profil">Retour</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}