{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Sortie {{ sortie.nom }}{% endblock %}

{% block body %}
    <div class="DetailSortie">
        <div class="InfoGlobalSortie">

            <div class="titreDetailSortie">
                <h1>{{ sortie.nom }}</h1>
            </div>
            <br>

            <div class="InfoDetailSortie">
                <div>
                    <label><b>Date et heure de la sortie : </b></label>
                    <div>{{ sortie.dateHeureDebut |date ("d/m/Y H:i") }}</div>
                    <br>
                </div>

                <div>
                    <label><b>Date limite d'inscription : </b></label>
                    <div>{{ sortie.dateLimiteInscription | date ("d/m/Y H:i") }}</div>
                    <br>
                </div>

                <div>
                    <label><b>Nombre de participants : </b></label>
                    <div>{{ sortie.nbInscriptionsMax }} participants maximum</div>
                    <br>
                </div>

                <div>
                    <label><b>Durée : </b></label>
                    <div>{{ sortie.duree |date ('H:i') }}</div>
                    <br>
                </div>

                <div>
                    <label><b>Description et infos : </b></label>
                    <div>{{ sortie.infosSortie }}</div>
                </div>
            </div>

            <div class="lieuDetailSortie">
                <div>
                    <label><b>Lieu : </b></label>
                    <div>
                        <div>{{ sortie.lieu.nom }}</div>
                        <div>{{ sortie.lieu.rue }}</div>
                        <div>{{ sortie.lieu.ville.codePostal }}, {{ sortie.lieu.ville.nom }}</div>
                        <div>(Latitude : {{ sortie.lieu.latitude }} , Longitude : {{ sortie.lieu.longitude }} )</div>
                    </div>
                </div>
            </div>


            <br>

            <div class="tableParticipant">
                <div>
                {% if sortie.etat.id==6 %}
                    <h1>Sortie annulée</h1>
                {% else %}
                        <h3>Liste des participants inscrits :</h3>
                        <table class="tab">

                            <thead>
                            <tr>
                                <th>Pseudo</th>
                                <th>Nom  Prénom</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for u in sortie.users %}
                                <tr>
                                    <td class="tableau-donnee"><a href="{{ path('user_details', {'id': u.id}) }}">{{ u.pseudo }}</a></td>
                                    <td class="tableau-donnee">{{ u.nom }}  {{ u.prenom }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                {% endif %}
                </div>
            </div>
            <br>
            <div class="boutonDetailSortie">

                {% if finInscription == false and estInscrit == false %}
                    <form action="{{ path('sortie_inscription', {'id': sortie.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('inscription'~sortie.id) }}">
                        <button>S'inscrire</button>
                    </form>
                {% endif %}

                    {% if estInscrit and peut_se_desister %}
                        <form action="{{ path('sortie_desistement',{'id':sortie.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('desistement'~sortie.id) }}">
                            <button>Se désister</button>
                        </form>

                    {% endif %}

                {% if estOrganisateur and peut_etre_annule %}
                    <form action="{{ path('sortie_annuler',{'id':sortie.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('annuler'~sortie.id) }}">
                        <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}">
                            <button>Annuler</button>
                        </a>
                    </form>
                {% endif %}

                {% if estOrganisateur and peut_etre_modifier %}
                    <form action="{{ path('sortie_modifier',{'id':sortie.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('modifier'~sortie.id) }}">
                        <a href="{{ path('sortie_modifier', {'id' : sortie.id}) }}">
                            <button>Modifier</button>
                        </a>
                    </form>

                {% endif %}
            </div>
        </div>

    </div>

{% endblock %}

