{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Sortie {{ sortie.nom }}{% endblock %}

{% block body %}
    <div class="bodyDetailSortie">
        <div class="cardSortie">

            <div class="div1">
                <h1>{{ sortie.nom }}</h1>
            </div>

            <div class="div2">
                <div>
                    <label for="dateSortie">Date et heure de la sortie : </label>
                    <div>{{ sortie.dateHeureDebut |date ("d/m/Y H:i") }}</div>
                </div>
                <br>
                <div>
                    <label for="dateLimite">Date limite d'inscription : </label>
                    <div>{{ sortie.dateLimiteInscription | date ("d/m/Y H:i") }}</div>
                </div>
                <br>
                <div>
                    <label for="nbLimiteParticipants">Nombre de participants : </label>
                    <div>{{ sortie.nbInscriptionsMax }} participants maximum</div>
                </div>
                <br>
                <div>
                    <label for="dureeSortie">Durée : </label>
                    <div>{{ sortie.duree |date ('H:i') }}</div>
                </div>
                <br>
                <div>
                    <label for="descSortie">Description et infos : </label>
                    <div>{{ sortie.infosSortie }}</div>
                </div>
            </div>

            <div class="div3">
                <div>
                    <label for="lieuSortie">Lieu : </label>
                    <div>
                        <div>{{ sortie.lieu.nom }}</div>
                        <div>{{ sortie.lieu.rue }}</div>
                        <div>{{ sortie.lieu.ville.codePostal }}, {{ sortie.lieu.ville.nom }}</div>
                        <div>(Latitude : {{ sortie.lieu.latitude }} , Longitude : {{ sortie.lieu.longitude }} )  </div>
                    </div>
                </div>
            </div>


            <br>

            <div class="div4">
                {% if sortie.etat.id==6 %}
                    <h1>Sortie annulée</h1>
                {% else %}
                    <div style="border-radius: 10px">
                        <table class="tab" >
                            <caption>Liste des participants inscrits :</caption>
                            <tr>
                                <th>Pseudo</th>
                                <th>Nom</th>
                            </tr>
                            {% for u in sortie.users %}
                                <tr>
                                    <td><a href="{{ path('user_details', {'id': u.id}) }}">{{ u.pseudo }}</a></td>
                                    <td>{{ u.nom }} {{ u.prenom }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                {% endif %}</div>
            <br>
            <div class="div5">

                {% if finInscription == false %}
                    <form action="{{ path('sortie_inscription', {'id': sortie.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('inscription'~sortie.id) }}">
                        <button>S'inscrire</button>
                    </form>
                {% endif %}

                {% for user in sortie.users %}

                    {% if estInscrit and peut_se_desister %}
                        <form action="{{ path('sortie_desistement',{'id':sortie.id}) }}" method="get">
                            <input type="hidden" name="_token" value="{{ csrf_token('desistement'~sortie.id) }}">
                            <button>Se désister</button>
                        </form>

                    {% endif %}
                {% endfor %}

                {% if estOrganisateur and peut_etre_annule %}
                    <form action="{{ path('sortie_annuler',{'id':sortie.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('annuler'~sortie.id) }}">
                        <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}">
                            <button>Annuler</button>
                        </a>
                    </form>
                {% endif %}

                {% if estOrganisateur and peut_etre_modifier %}
                    <form action="{{ path('sortie_modifier',{'id':sortie.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('modifier'~sortie.id) }}">
                        <a href="{{ path('sortie_modifier', {'id' : sortie.id}) }}">
                            <button>Modifier</button>
                        </a>
                    </form>

                {% endif %}
            </div>


        </div>

    </div>





{% endblock %}

