{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Sortie {{ sortie.nom }}{% endblock %}

{% block body %}

    <div>
        <h1 class="titreListeCard">{{ sortie.nom }}</h1>

    </div>
    <div class="bodyDetailParticipant">
        <label for="nomSortie">Nom de la sortie : </label>{{ sortie.nom }}
        <br>
        <label for="dateSortie">Date et heure de la sortie : </label>{{ sortie.dateHeureDebut |date ("d/m/Y H:i") }}
        <br>
        <label for="dateLimite">Date limite d'inscription
            : </label>{{ sortie.dateLimiteInscription | date ("d/m/Y H:i") }}
        <br>
        <label for="nbLimiteParticipants">Nombre de participants : </label>{{ sortie.nbInscriptionsMax }}
        <br>
        <label for="dureeSortie">Durée : </label>{{ sortie.duree |date ('h') }}
        <br>
        <label for="descSortie">Description et infos : </label>{{ sortie.infosSortie }}
        <br>
        <label for="lieuSortie">Lieu : </label>{{ sortie.lieu.nom }}
        <br>
        <label for="rueSortie">Rue : </label>{{ sortie.lieu.rue }}
        <br>
        <label for="villeSortie">Ville : </label>{{ sortie.lieu.ville.nom }}
        <br>
        <label for="cpSortie">Code postal :</label>{{ sortie.lieu.ville.codePostal }}
        <br>
        <label for="latitudeSortie">Latitude : </label>{{ sortie.lieu.latitude }}
        <br>
        <label for="longitudeSortie">Longitude : </label>{{ sortie.lieu.longitude }}
    </div>


    <div>
        {% if sortie.etat.id==6 %}
            <h1>Sortie annulée</h1>
        {% else %}
            <label for="participantSortie">Liste des participants inscrits :</label>
            <table>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                {% for u in sortie.users %}
                    <tr>
                        <th><a href="{{ path('user_details', {'id': u.id}) }}">{{ u.pseudo }}</a></th>
                        <th>{{ u.nom }} {{ u.prenom }}</th>
                    </tr>
                {% endfor %}

            </table>
        {% endif %}

        {% if finInscription == false %}
            <form action="{{ path('sortie_inscription', {'id': sortie.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('inscription'~sortie.id) }}">
                <button>s'inscrire</button>
            </form>
        {% endif %}

        {% for user in sortie.users %}

            {% if user.id==app.user.id %}
                <form action="{{ path('sortie_desistement',{'id':sortie.id}) }}" method="get">

                    <input type="hidden" name="_token" value="{{ csrf_token('desistement'~sortie.id) }}">
                    <button>Desister</button>
                </form>

            {% endif %}
        {% endfor %}

        {% if app.user==sortie.organisateur and sortie.etat.id != 6 %}
            <form action="{{ path('sortie_annuler',{'id':sortie.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('annuler'~sortie.id) }}">

                <button><a href="{{ path('sortie_annuler',{'id':sortie.id}) }}">Annuler</a></button>

            </form>
        {% endif %}

        {% if app.user==sortie.organisateur and sortie.etat.id==1 %}
            <form action="{{ path('sortie_annuler',{'id':sortie.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('modifier'~sortie.id) }}">
                <button><a href="{{ path('sortie_modifier',{'id':sortie.id}) }}">Modifier</a></button>

            </form>

        {% endif %}

    </div>
{% endblock %}

