{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier sa sortie {% endblock %}
{% block body %}
    <script src="{{ asset('js/modificationSortie.js') }}" defer></script>
    <div class="ModifierSortie">
        <div class="InfoGlobalModifSortie">
            <div class="TitreModifSortie">
                <h2>Modifier votre sortie : </h2>
            </div>

            {{ form_start(sortieModif) }}

            <form action="{{ path('sortie_modifier',{'id':sortie.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('modifier'~sortie.id) }}">
                <div class="infoModifSortie">
                    <div>
                        <div>
                            <label id="labelModifSortie" for="nom">Nom : </label>
                            <div>
                                {{ form_errors(sortieModif.nom) }}
                                {{ form_widget(sortieModif.nom) }}
                            </div>
                        </div>


                        <div>
                            <label id="labelModifSortie" for="dateHeureDebut"> Date début de la sortie : </label>
                            <div>
                                {{ form_errors(sortieModif.dateHeureDebut) }}
                                {{ form_widget(sortieModif.dateHeureDebut) }}
                            </div>

                        </div>

                        <div>
                            <label id="labelModifSortie" for="duree">Durée : </label>
                            <div>
                                {{ form_errors(sortieModif.duree) }}
                                {{ form_widget(sortieModif.duree) }}
                            </div>
                        </div>


                        <div>
                            <label id="labelModifSortie" for="dateLimiteInscription">Date limite d'inscription
                                : </label>
                            <div>
                                {{ form_errors(sortieModif.dateLimiteInscription) }}
                                {{ form_widget(sortieModif.dateLimiteInscription) }}
                            </div>

                        </div>

                        <div>
                            <label id="labelModifSortie" for="nbInscriptionsMax">Nombre maximum de participants
                                : </label>
                            <div>
                                {{ form_errors(sortieModif.nbInscriptionsMax) }}
                                {{ form_widget(sortieModif.nbInscriptionsMax) }}
                            </div>
                        </div>

                        <div>
                            <label id="labelModifSortie" for="infosSortie">Description et informations : </label>
                            <div>
                                {{ form_errors(sortieModif.infosSortie) }}
                                {{ form_widget(sortieModif.infosSortie) }}
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="lieuModifSortie">
                    <div>
                        <label id="labelModifSortie" for="lieu">Lieu : </label>
                        {{ form_errors(sortieModif.lieu) }}
                        {{ form_widget(sortieModif.lieu) }}

                    </div>
                    <br>
                    <p>Adresse :</p>
                    <br>
                    <article>

                        <script>

                        </script>
                    </article>
                </div>

                <br>
                <div class="boutonModifSortieForm">
                    {{ form_widget(sortieModif) }}
                </div>
            </form>

            {{ form_end(sortieModif) }}
            <div class="autreBoutonModif">

                    <a href="{{ path('main_home') }}">
                        <button>Retour</button>
                    </a>
                    <form action="{{ path('sortie_delete',{'id':sortie.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~sortie.id) }}">
                        <button>Supprimer</button>
                    </form>
            </div>

        </div>
    </div>



{% endblock %}


