{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modifier sa sortie {% endblock %}
{% block body %}
    {{ form_start(sortieModif) }}
    <form action="{{ path('sortie_modifier',{'id':sortie.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('modifier'~sortie.id) }}">

        {{ form_widget(sortieModif) }}

        <a href="{{ path('main_home') }}"><button>Retour</button></a>

    </form>
    <form action="{{ path('sortie_delete',{'id':sortie.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('delete'~sortie.id) }}">
        <button>Supprimer</button>
    </form>
    {{ form_end(sortieModif) }}

{% endblock %}


