<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="{{ asset('img/logo2.png') }}">

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/detailParticipant.css') }}">
    <link rel="stylesheet" href="{{ asset('css/detailSortie.css') }}">
    <link rel="stylesheet" href="{{ asset('css/creationSortie.css') }}">
    <link rel="stylesheet" href="{{ asset('css/modifierSortie.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    <link rel="stylesheet" href="{{ asset('css/detailProfilUser.css') }}">
    <link rel="stylesheet" href="{{ asset('css/creationUser.css') }}">
    <link rel="stylesheet" href="{{ asset('css/annulerSortie.css') }}">

    <title>{% block title %}Sortie.com{% endblock %}</title>
</head>
<body>

<header>
    {% include  'inc/nav.html.twig' %}
</header>

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div style="
        background-color: greenyellow;
        width: 300px;
        border-radius: 50px;
        text-align: center;
" class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<main>
    {% block body %}{% endblock %}
</main>

<footer>
    {{ "now" | date('Y') }} &copy;Sortir.com
</footer>

</body>
</html>