<script src="{{ asset('js/main.js') }}"  defer></script>
<nav>
    <div id="mySidenav" class="sidenav">

        <a href="{{ path('main_home') }}"><img class="imageLogo" src="{{ asset('img/NomSite.png') }}" alt="Nom du site"></a>

        <a href="#" id="closeBtn" class="close">X</a>

        <ul>
            <div class="blocNavBar" id="blockNavBar">
                {% if app.user %}

                    <li><a class="navbar" href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
                    <li><a class="navbar" href="{{ path('user_profil') }}" title="monProfil">Mon profil</a></li>
                    <li class="CreationSortie"><a id="CreationSortie" class="navbar" href="{{ path('sortie_creation') }}" title="Creation Sortie">Création sortie</a></li>

                    {% if is_granted('ROLE_ADMIN') %}

                        <li><a class="navbar" href="#" title="Sites">Sites</a></li>
                        <li><a class="navbar" href="#" title="Villes">Villes</a></li>
                        <li><a class="navbar" href="{{ path('app_register') }}" title="admin">Création utilisateur</a></li>

                    {% endif %}

                <li><a class="navbar" href="{{ path('app_logout') }}" title="Logout">Logout</a>

                {% endif %}
            </div>

            <a href="#" id="openBtn">
                  <span class="burger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
            </a>

        </ul>
    </div>

    <div class="imageEnTete">
        <img class="imageHeader" src="{{ asset('img/afterbandeau.jpg') }}" alt="Vivre à Nantes">
    </div>
</nav>

