{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} | Profil de {{ participant.pseudo}} {% endblock %}


{% block body %}
<div>

 <h1>{{ participant.pseudo }}</h1>
</div>

<div>
 <div>{{ participant.image }}</div>

</div>
 <div>
  <div>{{ participant.nom }} </div>
  <div>{{ participant.prenom }}</div>
  <div>{{ participant.telephone }}</div>
  <div>{{ participant.email }}</div>
  <div>{{ participant.site.nom }}</div>


 </div>

{% endblock %}



