{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} | Profil de {{ user.pseudo}} {% endblock %}


{% block body %}
<div>

 <h1>{{ user.pseudo }}</h1>
</div>

<div>
 <div>{{ user.image }}</div>

</div>
 <div>
  <div>{{ user.nom }} </div>
  <div>{{ user.prenom }}</div>
  <div>{{ user.telephone }}</div>
  <div>{{ user.email }}</div>
  <div>{{ user.site.nom }}</div>


 </div>

{% endblock %}



