{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} | Profil de {{ user.pseudo }} {% endblock %}


{% block body %}
    <div class="bodyDetailParticipant">
        <div class="cardSortie">
            <div class="div1">
                <h1>{{ user.pseudo }}</h1>
            </div>
            <br>

            <div class="div2">
                <div>
                    <img id="imgParticipant" src="{{ asset('img/profil/'~user.image) }}" alt="image profil participant">
                </div>
            </div>

            <div class="div3">
                <div>
                    <div>
                        <label for="nom">Nom : </label>
                        <div>
                            {{ user.nom }}
                        </div>
                    </div>
                    <br>
                    <div>
                        <label for="prenom">Prénom : </label>
                        <div>
                            {{ user.prenom }}
                        </div>
                    </div>
                    <br>
                    <div>
                        <label for="tel">Téléphone : </label>
                        <div>
                            {{ user.telephone }}
                        </div>
                    </div>
                    <br>
                    <div>
                        <label for="email">Email : </label>
                        <div>
                            {{ user.email }}
                        </div>
                    </div>
                    <br>
                    <div>
                        <label for="site">Site de rattachement :</label>
                        <div>
                            {{ user.site.nom }}
                        </div>
                    </div>
                    <br>
                </div>

                <div class="div4">
                    <div class="btnDetailParticipant">
                        <button id="btnRetourDetail" onclick="precedent()">Retour</button>
                        <a id="btnAccueilDetail" href="{{ path('main_home') }}">
                            <button>Accueil</button>
                        </a>
                    </div>
                </div>


            </div>

        </div>

    </div>


{% endblock %}



