{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Mon profil {% endblock %}

{% block body %}
    <div class="ProfilUser">
        <div class="InfoGlobalUser">
            <div class="titrePseudo">
                <h1>{{ user.pseudo }}</h1>
            </div>

            <div class="EmplacementImg">
                <div class="imageP">
                    <img id="imgUser" src="{{ asset('img/profil/'~user.image) }}" alt="photo du profil">
                </div>
            </div>
            <br>

            <div class="InfoUser">
                {{ form_start(formUpdate) }}
                <div class="labelUs">{{ form_label(formUpdate.pseudo)}} :</div>
                <div class="widgetUser">{{ form_widget(formUpdate.pseudo) }}</div>
                {{ form_errors(formUpdate.pseudo) }}

                <div class="labelUs">{{ form_label(formUpdate.prenom)}} :</div>
                <div class="widgetUser">{{ form_widget(formUpdate.prenom) }}</div>
                {{ form_errors(formUpdate.prenom) }}

                <div class="labelUs">{{ form_label(formUpdate.nom)}} :</div>
                <div class="widgetUser">{{ form_widget(formUpdate.nom) }}</div>
                {{ form_errors(formUpdate.nom) }}

                <div class="labelUs">{{ form_label(formUpdate.telephone)}} :</div>
                <div class="widgetUser">{{ form_widget(formUpdate.telephone) }}</div>
                {{ form_errors(formUpdate.telephone) }}

                <div class="labelUs">{{ form_label(formUpdate.email)}} :</div>
                <div class="widgetUser">{{ form_widget(formUpdate.email) }}</div>
                {{ form_errors(formUpdate.email) }}

                <div class="labelUs">{{ form_label(formUpdate.site)}} :</div>
                <div class="widgetUser">{{ form_widget(formUpdate.site) }}</div>
                {{ form_errors(formUpdate.site) }}

                <div class="labelUs">{{ form_label(formUpdate.image)}} :</div>
                <div class="widgetUser">{{ form_widget(formUpdate.image) }}</div>
                {{ form_errors(formUpdate.image) }}

                <div class="labelUs">{{ form_label(formUpdate.plainPassword)}} :</div>
                <div class="widgetUser">{{ form_widget(formUpdate.plainPassword) }}</div>
                {{ form_errors(formUpdate.plainPassword) }}
            </div>
            {#
            <div>
                <label for="mdp"
                       title="Le mot de passe doit contenir au minimum 8 caractères dont une minuscule, une majuscule, un chiffre et un caractère spécial.">Mot
                    de Passe :</label>
                <div class="affichagePassword">
                    {{ form_errors(formUpdate.plainPassword) }}
                    {{ form_widget(formUpdate.plainPassword) }}
                </div>
            </div>
            #}
            <br>
            <div class="btnFooter">
                <button class="btn_profil" type="submit">Enregistrer</button>
                {{ form_end(formUpdate) }}
            </div>
            <div class="btn_retour_profil">
                <a id="btnRetourDetail" href="{{ path('main_home') }}">
                    <button class="btn_profil">Retour</button>
                </a>
            </div>
        </div>
    </div>



{% endblock %}






